{% extends "blog/base.html" %}
{% block content %}

      <div class="d-flex text-black border">
          <div class="p-2 border">Ticker</div>
          <div class="p-2 border">Date</div>
          <div class="p-2 border">Open</div>
          <div class="p-2 border">high</div>
          <div class="p-2 border">low</div>
          <div class="p-2 border">Close</div>
          <div class="p-2 border">Volume</div>
          <div class="p-2 border">Adj Close</div>
      </div>
    </br>
    {% for message in messages %}
        <div class="d-flex text-black border">
          <div class="p-2 border">Ticker</div>
          <div class="p-2 border">Date</div>
          <div class="p-2 border">Open</div>
          <div class="p-2 border">high</div>
          <div class="p-2 border">low</div>
          <div class="p-2 border">Close</div>
          <div class="p-2 border">Volume</div>
          <div class="p-2 border">Adj Close</div>
      </div>
    {% endfor %}

    <a class="btn btn-outline-primary" href="{% url 'portfolio-addstock' %}">Add Stock</a>

{% endblock content %}