{% extends "blog/base.html" %}
{% block content %}

 {% for stock in stocks %}
        <div class="d-flex text-black border">
          <div class="p-2 border">{{ stock.stock_ticker }}</div>
          <div class="p-2 border">{{ stock.purchase_price }}</div>
          <div class="p-2 border">{{ stock.number_of_shares }}</div>
          <div class="p-2 border">{{ stock.user }}</div>
          <div class="p-2 border">{{ stock.created }}</div>
          <div class="p-2 border">{{ stock.updated }}</div>
          <div class="p-2 border">{{ stock.stock_ticker }}</div>
          <div class="p-2 border">{{ stock.stock_ticker }}</div>
      </div>
    {% endfor %}

    <a class="btn btn-outline-primary" href="{% url 'blog-home' %}">Return</a>
    <a class="btn btn-outline-primary" href="{% url 'portfolio-addstock' %}">Add Stock</a>

{% endblock content %}
